Calculate/src/META-INF/wsdl/localhost_8080/AiwWeb/Calculate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Calculate">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/AiwWeb/Calculate?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Substraction">
<part name="parameters" element="tns:Substraction"/>
</message>
<message name="SubstractionResponse">
<part name="parameters" element="tns:SubstractionResponse"/>
</message>
<message name="Addition">
<part name="parameters" element="tns:Addition"/>
</message>
<message name="AdditionResponse">
<part name="parameters" element="tns:AdditionResponse"/>
</message>
<message name="divisio">
<part name="parameters" element="tns:divisio"/>
</message>
<message name="divisioResponse">
<part name="parameters" element="tns:divisioResponse"/>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"/>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"/>
</message>
<portType name="Calculate">
<operation name="hello">
<input wsam:Action="http://WebService/Calculate/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebService/Calculate/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Substraction">
<input wsam:Action="http://WebService/Calculate/SubstractionRequest" message="tns:Substraction"/>
<output wsam:Action="http://WebService/Calculate/SubstractionResponse" message="tns:SubstractionResponse"/>
</operation>
<operation name="Addition">
<input wsam:Action="http://WebService/Calculate/AdditionRequest" message="tns:Addition"/>
<output wsam:Action="http://WebService/Calculate/AdditionResponse" message="tns:AdditionResponse"/>
</operation>
<operation name="divisio">
<input wsam:Action="http://WebService/Calculate/divisioRequest" message="tns:divisio"/>
<output wsam:Action="http://WebService/Calculate/divisioResponse" message="tns:divisioResponse"/>
</operation>
<operation name="multiplication">
<input wsam:Action="http://WebService/Calculate/multiplicationRequest" message="tns:multiplication"/>
<output wsam:Action="http://WebService/Calculate/multiplicationResponse" message="tns:multiplicationResponse"/>
</operation>
</portType>
<binding name="CalculatePortBinding" type="tns:Calculate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Substraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divisio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculate">
<port name="CalculatePort" binding="tns:CalculatePortBinding">
<soap:address location="http://localhost:8080/AiwWeb/Calculate"/>
</port>
</service>
</definitions>