Calculate/src/META-INF/wsdl/localhost_8080/AiwWeb/Calculate.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Addition" type="tns:Addition"/>

<xs:element name="AdditionResponse" type="tns:AdditionResponse"/>

<xs:element name="Substraction" type="tns:Substraction"/>

<xs:element name="SubstractionResponse" type="tns:SubstractionResponse"/>

<xs:element name="divisio" type="tns:divisio"/>

<xs:element name="divisioResponse" type="tns:divisioResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="multiplication" type="tns:multiplication"/>

<xs:element name="multiplicationResponse" type="tns:multiplicationResponse"/>

<xs:complexType name="Substraction">
<xs:sequence>
<xs:element name="number1" type="xs:double"/>
<xs:element name="number2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubstractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Addition">
<xs:sequence>
<xs:element name="number1" type="xs:double"/>
<xs:element name="number2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdditionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisio">
<xs:sequence>
<xs:element name="number1" type="xs:double"/>
<xs:element name="number2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplication">
<xs:sequence>
<xs:element name="number1" type="xs:double"/>
<xs:element name="number2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>